*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-item{
    display: flex;
    justify-content: space-between;
    margin: 31px 160px;
}

.bangladesh{
    font-size: 32px;
    font-family: Fira Sans;
    font-weight: 700;
    line-height: 32px;
    
}

.sign-in{
     color: rgb(0, 106, 80);
     font-size: 18px;
     font-weight: 600;
     line-height: 22px;
     font-family: Fira Sans;
     
     border-radius: 8px;
     padding: 15px 30px;
     border: none;
     border: 1px solid rgb(0, 106, 80);
     background-color: #ffff;
     cursor: pointer;
}

.banner-container{
    border-radius: 24px;

    background: rgb(198, 228, 214);
    
    margin: 0 auto;
    width: 1280px;
    padding: 162px 60px 197px 60px;
}

.banner-content h3{
    color: rgba(14, 14, 14, 0.5);
    font-family:  Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;

}

.banner-content{
    max-width: 622px;
    
    
}

.banner-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    font-family: Fira Sans;
    margin: 32px 0px;
    
}

.banner-container{
    display: flex;
    align-items: center;
}

.explore{
    color: rgb(255,255,255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height:22px;
    padding: 17px 34px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border: none;
    cursor: pointer;
    

}

.piller-content{
    margin: 80px 160px;

}

.piller-content h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 80px;

}

.piller-container{
    display: flex;
    gap: 24px;
}
.piller-cards{
    padding: 15px;
    border-radius: 16px;
    border: none;
    box-shadow: 3px 0px 10px 2px rgba(207,207,207,1);



}

.piller-cards h3{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    
}

.piller-cards-paragraph{
    color: rgba(14, 14, 14, 0.7);
    
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 12px 0px;

    
} 

.vision-content .bangladesh{
    text-transform: capitalize;

}

.description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    

}

.vision-content{
    margin: 35px 150px;
    
}

.vision-container{
    display: flex;
    gap: 10px;
}

.vision_card{
    padding: 32px;
    background-color: aqua;
    width: 410.67px;
    border-radius: 16px;
    background-color: rgba(84, 144, 245, 0.2);
}

.vision_card .description{
    font-size: 13.5px;
    font-family: Fira Sans;
    font-weight: 400;
    
}

.vision_card:nth-of-type(2) button{
    margin-top: 48px;
}

.vision_card .change_margin{
    margin-top: 25px;
}

.vision_card .learn_more{
    padding: 16px 19px;
    border-radius: 8px;
    background-color: rgb(84, 144, 245);
    border: none;
    cursor: pointer;
}

.vision_card:nth-of-type(2) .learn_more{
    background-color: rgb(9, 161, 92);
}

.vision_card:nth-of-type(3) .learn_more{
    background-color: rgb(255, 194, 57);
}

.vision_card:nth-child(2){
    background-color: rgb(198, 228, 214);
}

.vision_card:nth-child(3){
    background-color: rgb(247, 235, 207);
}

.vision .description{
    margin: 15px 0px;
}

.lorem-title{
    margin: 30px 160px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    box-shadow: 3px 0px 10px 2px rgba(207,207,207,1);
    border-radius: 16px;
    padding: 48px 24px;
}

.lorem-title p{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    

}

.lorem-title .name{
    margin-top: 12px;
}

.title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.news .bangladesh{
    margin: 12px 0px;
    
}

.satelite{
     color: rgba(14, 14, 14, 0.8);
     font-family: Fira Sans;
     font-size: 32px;
     font-weight: 700;
     line-height: 38px;
}

.content-1{
    display: flex;
    gap: 12px;
}

.learn_more{
    padding: 16px 19px;
    border-radius: 8px;
    background-color: rgb(9, 161, 92);
    border: none;
    cursor: pointer;
}

.news1 .vision-content{
    display: flex;
    gap: 24px;
    padding: 48px;
    border-radius: 24px;

    background: rgb(255, 255, 255);
    box-shadow: 3px 0px 10px 2px rgba(207,207,207,1);
    
}

.news1 img{
    border-radius: 24px;
}

.news1 .content-1{
    margin: 12px 0px;

}

.news1 .description{
    margin: 12px 0px;
}

.news1{
    margin: 50px 0px;
}

.text-center{
    text-align: center;
}

.donate .vision-content p{
    font-size: 16px;
    margin: 12px 0px;
}

 .donate .donate-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
} 

.donate .donate-card{
    width: 240px;
    padding: 40px;
    background-color: #ffff;
    box-shadow: 3px 0px 10px 2px rgba(207,207,207,1);
    text-align: center;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    cursor: pointer;
}

.donate .donate-card:hover{
     background: rgb(198, 228, 214);;
}

.donate .donate-card button{
    background-color: #ffff;
    border: none;
    cursor: pointer;
    padding: 10px;
}









